<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="css/loginPage.css" >
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/login.js"></script>
</head>

<body>
    <form>
        <fieldset>
            <legend>Login Page</legend>
            <label>User Name:</label>
            <input type="text" id="userName">
            <br>
            <br>
            <label>Password:</label>
            <input type="password" id="passInput">
            <br>
            <br>
            <input type="checkbox" id="showPassword">Show Password
            <br>
            <br>
            <input type="checkbox" id="rembrMe">Remember Me
            <br>
            <br>
            <button>Login</button>
            <br>
            <br>
            <a href="/forgotPwd">Forgot Password</a>
            <a href="/reg">Registration</a>
        </fieldset>
    </form>
</body>

</html>