<html>
    <head>
        <title>Tasks</title>
        <link rel="stylesheet" href="css/task.css">
        <script src="js/jquery-3.6.0.js"></script>
        <script src="/js/task.js"></script>
    </head>
    <body>
        <h1>Tasks</h1>
        <a href="/users">Users</a>
        <a href="/tasks">Tasks</a>
        <br>
        <br>
        <div id="btnDiv">
            <button id="addBtn">Add</button>
            <button id="edBtn">Edit</button>
            <button id="delBtn">Delete</button>
        </div>
        <br>
        <br>
        <table id="tasks">
            <thead>
                <tr>
                    <th></th>
                    <th>Task</th>
                    <th>Status</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Reading</td>
                    <td>Completed</td>
                    <td>Sri</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Writing</td>
                    <td>Incompleted</td>
                    <td>Abi</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Listening</td>
                    <td>Completed</td>
                    <td>Ragavi</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>